/dataSources/
/dataSources.local.xml
/python/Yolo/runs/
/cmake-build-release/
/cmake-build-debug/
/python/Yolo/output/

.vscode/
__pycache__/
CMakeFiles/
/cmake-build-debug-visual-studio/


.idea/

*.cache
*.deps
*.tlog
*.pdb
*.obj
*.recipe
*.lastbuildstate
*.vcxproj
*.sln
*.filters
*.ilk
*.log
*.exp
*.check_cache
*.bin
*.rule
*.stamp
*.depend
*.pyc
